body {
	background-color: #F5F5F5;   /* background page */
	text-align: center;
}

header {

	font-family: comic sans;  /* header h1*/
}

li {
	list-style-type: none;  /* main li */
}

img {
	border-radius: 55px 55px 55px 55px;						/* Image */
    -moz-border-radius: 55px 55px 55px 55px;
    -webkit-border-radius: 55px 55px 55px 55px;
    border: 0px solid #000000;
}

.email {
	text-decoration: none;   /* email link style */
	color: #689F38;
}

.history {
	border: 2px solid black;		/* border for employment history*/
}